*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #2d313c;
  color: white;


}

img{
  width: 200px;
  height: 200px;
  border: 2px solid whitesmoke;
}

h5, h6, p {
	color: white;
	font-family: Montserrat-Regular;
	
}
 h2 {
	/* color: rgb(156, 148, 148) !important; */
	font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
	
}
h1 {
  color: white !important;
  font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
  
}
.header .initiative-label{
  padding-top: 10px;
  text-align: center;
  font-size: 34px;
}
.header-remain span{
  color: #666666 !important;
}
.header{
  height: 30vh;
  text-align: center;
}
.container h2 {
	color: dodgerblue;
	font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  margin: 0px;
}

.column {
  
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card{
  width: 75%;
  height: 270px;
  padding: 12px;
  background-color:rgb(0,0,128, 0.2);
}
.card:hover{
  padding: 13px;
  background: white;
  /* rgb( 28, 250, 120, 0.7); */
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  display: flex;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 250px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {

  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

